{
  "branches": ["main"],
  "repositoryUrl" : "git@github.com:CleverCloud/clever-components-test-ci.git",
  "tagFormat": "${version}",
  "plugins": [
     [
       "@semantic-release/commit-analyzer",
       {"preset": "angular"}
     ],
     [
       "@semantic-release/release-notes-generator",
       {"preset": "angular"}
     ],
     ["@semantic-release/changelog",
      {
         "changelogTitle": "---\nkind: 🏠 Home\ntitle: Changelog\n---\n# Clever Components changelog"
      }],
     ["@semantic-release/git",
      {"message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}\n\n[skip ci]"}
     ]
  ]
}
