{
  "branches": ["main"],
  "repositoryUrl" : "git@github.com:CleverCloud/clever-components-test-ci.git",
  "tagFormat": "${version}",
  "plugins": [
     "@semantic-release/commit-analyzer",
     "@semantic-release/release-notes-generator",
     "@semantic-release/changelog",
     "@semantic-release/git",
  ],
  "preset": "angular"
}
